main {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  max-width: 1300px;
  margin-inline: auto;
  padding: 20px 30px;

  height: 100vh;
}

main h1 {
  text-align: center;
  padding-bottom: 15px;
}

.main-body {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  height: 100%;
}
